Новая рыбалка
<form id="form_data" name="form_data">
	<table>
		<tr>
			<td> Начало:</td><td><input type="text" id="date_from"></td>
		</tr>
			<td>Конец:</td> <td> <input type="text" id="date_to"></td>
		</tr>
			<td>
				<input type="text" id="places">
			</td>
		</tr>
	</table>
	<select multiple data-role="tagsinput" id='fishes'></select>
</form>
<script>
	$('#date_from').datepicker({ format: "dd.mm.yyyy" });  
	$('#date_to').datepicker({ format: "dd.mm.yyyy" }); 
	$('#places').tagsinput({
	  tagClass: 'big'
	}); 
</script>