Новая рыбалка
<form id="form_data" name="form_data" action="/add_fishing" method="post">
	<table>
		<tr>
			<td colspan=2>
				<div class="input-group input-daterange">
				    <span class="input-group-addon">c</span><input type="text" class="form-control" id='start_date'>
				    <span class="input-group-addon">по</span>
				    <input type="text" class="form-control" id='end_date'>
				</div>
			</td>
		</tr>
		</tr>
			<td>Итого вес:</td> <td> <input type="text" id="total_weight"></td>
		</tr>
		<tr>
			<td>
				рыбы: 
			</td>
			<td>
				<ul id="fishes"></ul>
			</td>
		</tr>
		<tr>
			<td>
				наживки: 
			</td>
			<td>
				<ul id="baits"></ul>
			</td>
		</tr>
		<tr>
			<td>
				места: 
			</td>
			<td>
				<ul id="places"></ul>
			</td>
		</tr>
		<tr><td colspan=2><button class="btn btn-lg btn-primary btn-block" type="button" id='add_fishing'>Добавить</button></td></tr>
	</table>
	
</form>

<script>
	get_uniq_names('fishes');
	get_uniq_names('baits');
	get_uniq_names('places');

	$('.input-daterange input').each(function() {
	    $(this).datepicker({
	    	format: "dd.mm.yyyy", 
			orientation: "auto", 
			autoclose: true
	    });
	});

	function get_uniq_names (name) {

		$.ajax(
	    {
	      type: "GET",
	      dataType: 'json',
	      url: 'add_fishing/get?type='+name,
	      success: function (data, textStatus, jqXHR) {  
	      	returndata =[];
	      	for (var i = 0; i < data.length; i++) {
	      		returndata.push(data[i].name);
	      	};
      		$('#'+name).tagit({
			    availableTags: returndata
			});
	      },
	      error: function (jqXHR, textStatus, errorThrown) {
	        document.innerHTML = "Ошибка! Нет данных или проблемы с соединением: "+textStatus;
	      }
	    });
	}

	$('#add_fishing').click(function() {
		$.ajax(
	    {
	      type: "POST",
	      dataType: 'json',
	      url: 'add_fishing/add_fishing?start_date='+$('#start_date').val() + '&end_date='+$('#end_date').val() + '&total_weight=' + $('#total_weight').val(),
	      success: function (data, textStatus, jqXHR) {  
	      	add_other(data);
	      },
	      error: function (jqXHR, textStatus, errorThrown) {
	        document.innerHTML = "Ошибка! Нет данных или проблемы с соединением: "+textStatus;
	      }
	    });
	});

	function add_other (id) {
		data = {};
		data['fishes'] = $('#fishes').tagit("assignedTags");
		data['baits'] = $('#baits').tagit("assignedTags");
		data['places'] = $('#places').tagit("assignedTags");
		data['fishing_id'] = id;
		$.ajax(
	    {
	      type: "POST",
	      dataType: 'json',
	      data: data,
	      url: 'add_fishing/add_other',
	      success: function (data, textStatus, jqXHR) {
	      	console.log(data);
	      },
	      error: function (jqXHR, textStatus, errorThrown) {
	        document.innerHTML = "Ошибка! Нет данных или проблемы с соединением: "+textStatus;
	      }
	    });
	}
</script>