<script id='cluster_chart' language="text">
  <div id='cluster_chart'>
    <table>
      <tr><td><div id='chart' style='min-width: 550px; height: 350px; margin: 0 auto'></div></td></tr>
      
    </table>
  </div>

</script>