<div id="main">
	<div id="fish">
	  <div id="l20">
	  	sdf
	  	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  </div>
	  <div id="r80">
	    <div id="map"></div>
	  </div>
	</div>
</div>

<%= render partial: 'charts' %>
<%= render partial: 'js' %>
<%= render partial: 'style' %>
