<script id='cluster_chart' type='text'>
	<table>
		<tr>
			<td colspan=2>
				<h3 id='info_name'>Динская</h3>
				<div id='info_locality'> Поплавок</div>
			</td>
		</tr>
		<tr>
			<td colspan=2 id='info_dates'>21.09.2006 - 22.09.2006</td>
		</tr>
		<tr>
			<td>Наживки</td>
			<td id='info_baits'>опарыш, кукуруза</td>
		</tr>
		<tr>
			<td>Рыбы</td>
			<td id='info_fishes'>карась, карп</td>
		</tr>
		<tr>
			<td>Общий вес</td>
			<td id='info_total_weight'>7 кг</td>
		</tr>
	</table>
	
</script>