	<div id="fish">
	  <div id="l20">
	  	sdf
	  	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  </div>
	  <div id="r80">
	    <div id="map"></div>
	    <table id='timetable'>
	    	<tr>
	    		<td width='5%'>
	    			<div id='play_button'></div>
	    		</td>
	    		<td width='75%' align='right' id='timeslider_td'>
	    			<div id='timeslider'></div>
	    		</td>
	    	</tr>
	    </table>
		<input id='date_from'></input>
		<input id='date_to'></input>
	  </div>
	</div>
<%= render partial: 'js' %>
<%= render partial: 'css' %>
<%= render partial: 'cluster_chart' %>
